@model MobileShopping.entity.Mobile

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm("Create", "Index", FormMethod.Post))
{
    <table border="1">
        <tr>
            <td>
                Id :
            </td>
            <td>
                @Html.TextBoxFor(id => Model.Id)
            </td>
        </tr>
        <tr>
        </tr>
    </table>

}